QTabBar::tab {
    background-color: #dddddd;
    width: 30px;
    height: 30px;
    margin: 10px;
    border: 2px solid #aaaaaa;
    border-radius: 7px;
}
QTabBar::tab:enabled{
    background-color: #00ff00;
    opacity:.2;
}
QTabBar::tab:selected{
    width: 36px;
    height: 36px;
    margin: 7px;
    border: 2px solid #000000;
}
QTabWidget::tab-bar {
    alignment: center;
}